extends modules/base
block content
    include modules/header.pug
    include modules/main.pug
    include modules/about.pug
    include modules/clients.pug
    script(type="module" src='./assets/js/main.min.js')
    