extends modules/base
block content
    main.main-section
        include modules/header.pug
        include modules/main.pug
        include modules/about.pug
        include modules/clients.pug
        include modules/guarantee.pug
    script(type="module" src='./assets/js/main.min.js')
    