@font-face {
    display: swap;
    font-family: 'PTSansBold';
    src: url('../fonts/PTSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    display: swap;
    font-family: 'PTSans';
    src: url('../fonts/PTSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    display: swap;
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    display: swap;
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.ttf');
    font-style: normal;
    font-weight: 900;
}

