section.about
    .container
        .inner
            .about__box
                h2.about__title.
                    Ground Shipping
                p.about__text.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                a.about__link(href="#").
                    Learn more
            .about__box
                h2.about__title.
                    Railway Shipping
                p.about__text.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                a.about__link(href="#").
                    Learn more
            .about__box
                h2.about__title.
                    Water Shipping
                p.about__text.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                a.about__link(href="#").
                    Learn more
            .about__box
                h2.about__title.
                    Air Shipping
                p.about__text.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                a.about__link(href="#").
                    Learn more


