section.guarantee
    .container
        .wrapper
            .guarantee__content
                img.guarantee__line(src="./assets/images/guarantee/way.svg", alt="line")
                .guarantee__inner
                    .guarantee__inner-row
                        h3.guarantee__title.
                            Safety
                        p.guarantee__text.
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                    .guarantee__inner-row
                        h3.guarantee__title.
                            Safety
                        p.guarantee__text.
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                    .guarantee__inner-row
                        h3.guarantee__title.
                            Safety
                        p.guarantee__text.
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                    .guarantee__inner-row
                        h3.guarantee__title.
                            Safety
                        p.guarantee__text.
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            img.guarantee__img(src="./assets/images/guarantee/truck.jpeg", alt="")