main.main
    .container
        .main__wrapper
            span.main__text.
                USA, Europe, Asia
            h1.main__title.
                Trans Logistic
        form.main__form.form(action="")
            .form__container
                .form__content
                    h2.form__title.
                        Get Callback
                    p.form__text. 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                .form__inputs
                    input.form__input(type="text" placeholder="Your name")
                    input.form__input(type="tel" placeholder="Your phone")
                    input.form__input(type="email" placeholder="Your email")
                    button.form__btn.
                        Call me back
