section.news
    .container
        .wrapper
            h2.news__title.
                #[span.text--blue Interesting] to read
            .inner
                .news__box
                    h3.news__subtitle.
                        News title
                    p.news__text.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    date.news__date.
                        21 March, 2019
                .news__box
                    h3.news__subtitle.
                        News title
                    p.news__text.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    date.news__date.
                        21 March, 2019
            button.news__btn.
                Visit blog