section.team
    .container
        h2.team__title.
            #[span.text--blue Our] Team
        .wrapper
            .team__box
                img.team__img(src="./assets/images/team/man_one.jpeg", alt="man_photo")
                h3.team__subtitle.
                    John Smith
                span.team__text.
                    Logistic manager - 8 years experience
                a.team__link-email(href="john@centerlogistic.com").
                    john@centerlogistic.com
                a.team__link-tel(href="tel:+987412512543").
                    +987412512543
            .team__box
                img.team__img(src="./assets/images/team/man_two.jpeg", alt="man_photo")
                h3.team__subtitle.
                    Daniel Kore
                span.team__text.
                    Software engineer
                a.team__link-email(href="john@centerlogistic.com").
                    daniel@centerlogistic.com
                a.team__link-tel(href="tel:+987423252253").
                    +987423252253
            .team__box
                img.team__img(src="./assets/images/team/woman.jpeg", alt="woman_photo")
                h3.team__subtitle.
                    Anna Filler
                span.team__text.
                    Marketing specialist - 10 years experience
                a.team__link-email(href="john@centerlogistic.com").
                    anna@centerlogistic.com
                a.team__link-tel(href="tel:+98735353456").
                    +98735353456